[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
numpy = "*"
mediapipe = "*"
tqdm = "*"
scipy = "*"
pandas = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.9"
